body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

header {
    width: 100%;
    background-position: center center;
    background-size: cover;
    color: rgb(175, 93, 0);
    background-color: black;
}

.welcome {
    display: flex;
    justify-content: center;
    color: black;
}
.image {
    height: 200px;
    width: 200px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-bottom: 3px solid rgb(14, 52, 102);

}
.subtitle{
    font-weight: bold;
    text-align: center;
    color: rgb(14, 52, 102);
    font-family: 'Montserrat';
}
.process{
    font-family: 'Montserrat';
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    color: rgb(14, 52, 102);
    font-size: 25px;
    border-bottom: 3px solid rgb(14, 52, 102);
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 500;
}
.codcademy{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color:rgb(14, 52, 102);
    font-family: 'Montserrat';
}
button{
    background-color: rgb(223, 223, 223);
}

button:hover{
    color:black;
    box-shadow: 0px 4px 8px 1px #000; 
    background-color:rgb(238, 124, 58);
    transition: 0.4s;
    transform-origin: left bottom;
    transition-property: width height;
    z-index: -1;
    }
 
button:hover::after{
    width: 100%;
    height: 100%;
}
ul {
    margin-top: 0;
    padding-top:30px;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

ul li {
    font-size: 20px;
}  
.pages{
    text-align: center;
    color: rgb(14, 52, 102);
    margin-bottom: 20px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
}

h1 {
    margin: 0;
    padding: 0;
}


.contact {
    color:rgb(204, 203, 203);
    display: flex;
    font-family: 'Montserrat';
    padding-left: 20px;
}

footer {
    margin:0;
    background-color: black;
}

.contact h3,
h4 {
    margin-right: 30px;
}

#team {
    font-weight: bold;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
}

#team:hover {
    color: rgb(231, 91, 9);
    font-size: larger;
    transition: 0.8s;
}

#members {
    font-weight: bold;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
}

#members:hover {
    color: rgb(231, 91, 9);
    font-size: larger;
    transition: 0.8s;
}

#event {
    font-weight: bold;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
}

#event:hover {
    color: rgb(231, 91, 9);
    font-size: larger;
    transition: 0.8s;
}

#website {
    font-weight: bold;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
}

#website:hover {
    color: rgb(231, 91, 9);
    font-size: larger;
    transition: 0.8s;
}